@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0;
    padding: 5px 0px;
    
}
.logo{
    width: 20%;
    display: flex;
    height: 20%;
    
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 25%;
    border: 4px solid white;
    border-radius: 100px;
}

.navlist{
    width: 70%;
    display: flex;
    /* background-color: black; */
    /* justify-content: center; */
    /* justify-content: center; */
    align-items: center;
}
.navlist li{
list-style: none;
padding: 20px 30px;
}

.navlist li a:hover{

color: grey;
}

.navlist li a{
text-decoration: none;
color: white;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
}

.rightnav{
    /* background-color: teal; */
    width: 30%;
   text-align: right;
   padding: 0px 25px;
}

.burger{
display: none;
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;

}

.line{
    background-color: white;
    width: 33px;
    margin: 5px 3px;
    height: 4px;

}

#search{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 5px;
    font-size: 17px;
    border-radius:10px;
    border: 2px solid grey;
}

.background{
    background: rgba(0, 0, 0, 0.7 ) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.firstsection{
    height: 100vh;
}

.boxmain{
    display: flex;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 50%;
    margin: auto;
}

.firsthalf{
 /* width: 80%; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 /* align-items: center; */
 width: 75%;
}
.secondhalf{
 width: 30%;
}
.secondhalf img{
    width: 150%;
    padding: 0px 30px;
    /* border: 2px solid white; */
    border-radius: 200px;
}

.textbig{
    font-size: 42px;
}

.textsmall{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 10px 15px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: white;
    cursor: pointer;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    
}
.btn:hover{
    background-color: rgb(180, 203, 204);
    color: black;
    padding: 10px 20px;
}
.btn-sm{
    padding: 5px 10px;
    vertical-align: middle; 
    font-size: 16px;
}

.secright{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
}
.para{
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
    margin-top: 40px;
    
}

.secleft{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
}

.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sectiontag{
    padding: 16px 0px;
}

.thumbnail img{
    width: 250px;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 50px;
}

.contact{
    background-color: rgb(180, 203, 204);
    height: 650px;

}

.heading{
    text-align: center;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.form{
    max-width: 60%;
    margin: 20px auto;

}
.form-input{
    margin: 10px 0px;
    padding: 2px 5px;
    width: 100%;
    font-size: 20px;
    border: 2px solid rgb(66, 64, 64);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.btnsubmit{
    
    border: 2px solid black;
    color: white;
    text-align: center;
    width: 250px;
    background-color: rgb(82, 71, 71);


}
.btnsubmit:hover{
    background-color: green;
    color: black;
}

.textfooter{
    text-align: center;
    /* background-color: rgb(56, 51, 51); */
    padding: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

